<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><head>
<!-- This layout is shamelessly ripped from:
        .                                 .o8       oooo               
      .o8                                "888       `888               
    .o888oo oooo  oooo  ooo. .oo.  .oo.   888oooo.   888  oooo d8b     
      888   `888  `888  `888P"Y88bP"Y88b  d88' `88b  888  `888""8P     
      888    888   888   888   888   888  888   888  888   888        
      888 .  888   888   888   888   888  888   888  888   888    .o. 
      "888"  `V88V"V8P' o888o o888o o888o `Y8bod8P' o888o d888b   Y8P
Hope you guys don't mind… -->

    	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    	<link href="/stylesheets/tumblr.css" type="text/css" rel="stylesheet">
    	<title>Thimblr Help</title>
    	    </head><body onload="                            " onclick="click_body();" id="dashboard_goodies">
        <div id="container">
            <img id="content_top" alt="" src="/images/content_top.png"><div id="content">
			<form action="/settings.set">
			<div id="left_column">
			    <div class="goody_container">
			        <h1>Welcome to Thimblr!</h2>
        
					<p>Hello! Thimblr is a program that will help you design templates for <a href="http://tumblr.com">tumblr</a>. Drawing strong influence from Mark Wunch's <a href="http://github.com/mwunsch/thimble/">Thimble</a>, Thimblr is a complete rewrite in Ruby providing an in-built server and some extra helpers that will hopefully make editing your themes as easy as planning for internet explorer can be.</p>
					<p>You can find the latest version of thimblr <a href="http://github.com/jphastings/Thimblr/" taget="github">on github</a></p>
			    </div>
				<div class="goody_container">
					<a name="Instructions"></a>
			        <h2>Instructions</h2>
			        <p><strong>Don't Panic!</strong> Thimblr is very easy to use. Just choose a theme from the drop down box at the top of the page and you're away. <%=(settings.allowediting) ? "Y" : "If you <a href=\"#AllowEditing\">enable editing</a>, y" %>ou can use the notepad icon to it's right to edit the current template in your text editor.</p>
					<p>If you're feeling adventurous you can <%=(settings.data.nil?) ? "specify a <a href=\"#DataLocation\">data directory</a> and " : "" %> create a new data file with your own tumblr test data in it, or <a href="#ImportData">import post data</a> from Tumblr. If there is more than one data file to choose from, you will be able to choose it next to the theme drop-down.</p>
			    </div>
			    <div class="goody_container">
					<a name="Settings"></a>
			        <h2>Thimblr Settings</h2>
			        <p>You can change Thimblr's inner workings here.</p>
					
					<a name="AllowEditing"></a>
			        <label for="AllowEditing">Allow Editing</label>
					<input type="checkbox" name="AllowEditing" />
					
					<div id="opt-editor">
						<a name="Editor"></a>
						<label for="Editor">Text Editor</label>
						<input type="text" name="Editor" value="<%=settings.editor%>"></input>
					</div>
					
					<a name="ThemesLocation"></a>
					<label for="ThemesLocation">Location of Themes</label>
					<input type="text" name="ThemesLocation" value="<%=get_relative(settings.themes)%>" />
					
					<a name="DataLocation"></a>
					<label for="DataLocation">Location of Data</label>
					<input type="text" name="DataLocation" value="<%=get_relative(settings.data)%>" />
			    </div>
				<div class="goody_container">
					<a name="ImportData"></a>
			        <h2>Import Data</h2>
					<p>You can grab post data directly from Tumblr using this tool. All it does is parses the <a href="http://tumblr.com/docs/api" target="tumblr">tumblr API</a> into the format needed by Thimblr.</p>
				</div>
			</div>
			<div style="background-color: rgb(192, 205, 129);" id="right_column">
    			<div style="background-color: rgb(201, 213, 141); border-width: 0px; -moz-border-radius-topright: 10px;" class="goody_container">
        			<h2>Tumblr Settings</h2>
					<p>Some templates are different depending on your tumblr settings. The following options will affect all the templates and data sets you use. They only affect Thimblr's emulation of Tumblr, not your real Tumblr account!</p>
        			<div style="margin-bottom: 5px;" class="goody_data">
            			<input type="text" readonly="readonly" onclick="this.select();" value="qalsog816@tumblr.com">
        			</div>
            	</div>
			    <div class="goody_container">
			        <h2>Hackity Hack</h2>
					<p>All Thimblr's settings can be edited on this page, or in the <code>settings.yaml</code> file in the gem source.</p>
			        <p>Thimblr runs on Ruby, so it should be fairly obvious how it works if you look at the source code. Feel free to <a>fork the project on github</a> and play around. If you make any modifications you're proud off, send me a message! I'll fold useful things into my repo.</p>
			    </div>    
    		</div>
        </div>
		</form>
		<img id="content_bottom" alt="" src="/images/content_bottom.png">
		<ul id="footer">
			<li><strong>Thimblr <a href="http://code.byJP.me" target="_new">by JP</a></strong></li>
			<li><strong>layout &copy; <a href="http://tumblr.com" target="_new">Tumblr, Inc.</strong></li>
		</div>        
	</div>
</body>
</html>